#root {
  position: fixed;

  .circular-container {
    height: 24em;
    width: 24em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .noteball {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    p {
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .noteball-main {
  }
}
