#root {
  position: fixed;

  .circular-container {
    height: 17em;
    width: 17em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #c4c4c4;
    border-radius: 50%;
  }

  .noteball {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    p {
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .addnote {
    background-image: url('../images/addnote.svg');
    height: 15px;
    width: 15px;
    background-size: 100% 100%;
  }

  .noteball-main {
  }
}
